In [1]:
# Initial imports
import pymysql

In [2]:
# Connection to the database
conn = pymysql.connect(host="localhost", port=3306, user="dbuser", passwd="badpassw0rd", db="employees")

In [3]:
# Create a cursor to send queries
cur = conn.cursor()

In [9]:
# Execute a SELECT query
query = """
        SELECT concat(last_name, ', ', first_name) as full_name, gender
        FROM employees
        WHERE gender = 'M' and hire_date < '1990-01-01'
        """

n_rows = cur.execute(query)
n_rows

98585

In [11]:
# List results
results = list(cur.fetchall())

In [12]:
len(results)

98585

In [16]:
results[0:10]

[('Facello, Georgi', 'M'),
 ('Bamford, Parto', 'M'),
 ('Koblick, Chirstian', 'M'),
 ('Maliniak, Kyoichi', 'M'),
 ('Terkki, Eberhardt', 'M'),
 ('Genin, Berni', 'M'),
 ('Nooteboom, Guoxiang', 'M'),
 ('Erde, Ramzi', 'M'),
 ('Heyers, Prasadram', 'M'),
 ('Herbst, Otmar', 'M')]